@charset "UTF-8";

.backgroundcolor{
	background-color: #FFFCF1;
	
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: auto;
  place-items: center;
  align-items: start;
}

.grid-item {
	width: 200px;
}

.button-container {
	padding: 20px;
	max-width: 600px; 
	margin: 20px;
}

.margin-padding {
	padding: 10px;
	margin: 10px;
}

.showName {
	text-align: center;
}

.pagetitle {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #171717;
}


