@charset "UTF-8";

.backgroundimage {
	background-color: #FFFCF1;
}

.backgroundimage::after {
	content: "";
	top: 0;
	left: 0;
	bottom: 0; 
	right : 0;
	width: 100%;
	position: absolute;
	background:
		url('https://cdn.discordapp.com/attachments/1054906456043966619/1062479301640982728/Biomewithoutbackground.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: .3;
	right: 0;
}