@charset "UTF-8";


#background {
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.7)),
		url("https://cdn.discordapp.com/attachments/1054906456043966619/1062479301640982728/Biomewithoutbackground.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 120vh;
	background-color: #FFFCF1;

}

@media screen and (min-width: 1469px) {
	#background{background-size: cover;
	
	}

/* .container {
		display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-template-rows: repeat;
	place-items: center;
	align-items: start;
} */
.grid-container {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-template-rows: repeat;
	place-items: center;
	align-items: start;
}

.grid-item {
	width: 200px;
}
}