@charset "UTF-8";

.logoimage {
	background-image:
		url("https://cdn.discordapp.com/attachments/1054906456043966619/1061378600265334925/Biome.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	height: 600px;
	width: 500px;
	color: #0ABE9A;
}


.backgroundcolor{
	background-color: #FFFCF1;
	
}
.Native {
	font-family: Arial, Helvetica, sans-serif;
	color: #0ABE9A;
	padding: 40px;
	font-size: 20px;
	text-align: center;
	border-top: 4px solid #0ABE9A;
	border-left: 4px solid #0ABE9A;
	border-bottom: 4px solid #0ABE9A;
	border-right: 4px solid #0ABE9A;
}

.plantimage {
	background-image:
		url("https://www.chesapeakebay.net/images/blog/how-to_nativeplants_1800-02.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	height: 700px;
	width: 700px;
	color: #0ABE9A;
	border-radius: 8px;
}

.row {
	background-position: center;
}

.column {
	float: center;
	width: 50%;
	display: grid;
	background-color: #FFFCF1;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center
}

.mission {
	font-family: Arial, Helvetica, sans-serif;
	color: #0ABE9A;
	padding: 40px;
	font-size: 30px;
	text-align: center;
	border-top: 4px solid #0ABE9A;
	border-left: 4px solid #0ABE9A;
	border-bottom: 4px solid #0ABE9A;
	border-right: 4px solid #0ABE9A;
}

.header {
	background-image:
		url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3dngWK4LismG4XLwbJbPA7SnAPgvNVAmwqA&usqp=CAU');
	height: 180px;
	opacity: 0.85;
}

.headline {
	color: white;
	text-align: center;
}

.motto {
	color: white;
	text-align: center;
}

.native, p {
	font-size: 20px;
}