@charset "UTF-8";  


.container{
    width: 100%;
    float: left;
    border: solid 1px blue;
    text-align: center;
}
.container form{
    display: inline-block;
}

.right{
	
	display: flex;
  justify-content: left;
  align-items: center;
 
}